body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#title{
  font-size: 50px;
  display: flex;
  position: absolute;
  left: 35%;
  color: black/*rgb(244, 200, 141);*/
}

.image-div{
  display: flex;
  position: absolute;
  width: 100%;
}

.img{
  width: 50%;
  position: absolute;
  left: 45%;
  top: 30%;
}

.img-btn{
  width: 8%;
  height: 2pc;
  position: absolute;
  border-radius: 20px;
  background-color: tomato;
  box-shadow: 2px 2px;
  top: 45pc;
  left: 45%;
}
.img-btn:hover{
  cursor: pointer;
  
}